# Dependencies (Folder perpustakaan coding yang berat)
node_modules/

# Environment variables (Kunci rahasia database, JANGAN DIHAPUS DARI SINI)
.env

# Production
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db